.app-content {
  padding: 15px;
  width: 100%;
}

form {padding: 15px;}

md-input-group.long >input {width: 100%;}
md-item {padding: 15px;}
md-card {margin: 0 30px 25px 30px;}
md-progress-circular {margin: 19px;}

.md-tile-content {margin-left: 15px;}