.app-content {
  padding: 15px;
  width: 100%;
}

form {
  padding: 15px;
}

md-input-group.long >input {
  width: 100%;
}

md-item {
  padding: 15px;
}

.face {
  border-radius: 50px;
}

.md-tile-content {
  margin-left: 15px;
}